<div class='menu'>
  <div class='navbar-side' role='navigation'>
    <div class='navbar-collapse removeDefaultPadding'>
      <ul class='nav'>
        <li class="menuBtn"> 
          <%= link_to(admin_products_path, class: "lightLine") do %>
            <span class='glyphicon glyphicon-bell'></span>
            Product
          <% end %>
        </li>
        <li class="menuBtn">
          <%= link_to(admin_users_path, class: "lightLine") do %>
            <span class='glyphicon glyphicon-bell'></span>
            Users
          <% end %> 
        </li>
      </ul>
    </div>
  </div>
</div>